@using LeeftSamen.Portal.Data.Models
@using LeeftSamen.Portal.Web.Helpers
@using LeeftSamen.Portal.Web.Models
@model LeeftSamen.Portal.Web.Models.NeighborhoodMessages.PostMessageViewModel

@{
    var action = "CreateMessage";
    var title = Title.CreateNeighborhoodMessage;
    var submitButton = Button.Save;
    var routeValues = new RouteValueDictionary();
    var cancelUrl = Url.RouteUrl("Default", new { controller = "NeighborhoodMessages", action = "Index" });
    if (Model.MessageId.HasValue)
    {
        action = "EditMessage";
        routeValues.Add("id", Model.MessageId.Value);
        title = Model.Title;
        cancelUrl = Url.RouteUrl("NeighborhoodMessage", new { messageId = Model.MessageId.Value });
    }

    ViewBag.Title = title;
}

<div class="content-wide">

    <h1 class="page-title-small">@ViewBag.Title</h1>

    @using (Html.BeginForm(action, "NeighborhoodMessages", routeValues, FormMethod.Post, new Dictionary<string, object> { { "enctype", "multipart/form-data" } }))
    {
        @Html.AntiForgeryToken()

        <div class="panel-edit">
            <div class="panel-heading">
                <h2 class="panel-title">@Title.GeneralInformation</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginFormGroupFor(m => m.Title))
                {
                    @Html.RequiredLabelFor(m => m.Title, new { @class = "" })
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block" })
                }

                @using (Html.BeginFormGroupFor(m => m.IntroductionText, new { @class = "no-border" }))
                {
                    @Html.RequiredLabelFor(m => m.IntroductionText, new { @class = "" })
                    @Html.TextAreaFor(m => m.IntroductionText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IntroductionText, null, new { @class = "help-block" })
                }

                @using (Html.BeginFormGroupFor(m => m.FullText, new { @class = "no-border" }))
                {
                    @Html.RequiredLabelFor(m => m.FullText, new { @class = "" })
                    @Html.TextAreaFor(m => m.FullText, 8, 0, new { @class = "form-control text-editor" })
                    @Html.ValidationMessageFor(m => m.FullText, null, new { @class = "help-block" })
                }

                @using (Html.BeginFormGroupFor(m => m.Expires))
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Expires) @Label.MessageExpires
                        </label>
                    </div>
                }
                
                <span id="expirationDate">
                    @using (Html.BeginFormGroupFor(m => m.ExpirationDateTime))
                    {
                        @Html.RequiredLabelFor(m => m.ExpirationDateTime, new { @class = "control-label" })
                        <div class="input-group">
                            <div class="datepicker-control">
                                @Html.TextBoxFor(m => m.ExpirationDateTime, new { @class = "form-control", @Value = Model.Expires && Model.ExpirationDateTime.HasValue ? Model.ExpirationDateTime.Value.ToString("dd-MM-yyyy") : string.Empty })
                                <button type="button">
                                    Kies datum
                                </button>
                            </div>

                            <div class="timepicker">
                                @Html.TextBoxFor(m => m.ExpirationDateTimeHour, new { @class = "hour", @Value = Model.ExpirationDateTimeHour.ToString("00") })
                                <div class="separator">:</div>
                                @Html.TextBoxFor(m => m.ExpirationDateTimeMinute, new { @class = "minute", @Value = Model.ExpirationDateTimeMinute.ToString("00") })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.ExpirationDateTime, null, new { @class = "help-block" })
                    }
                </span>
                @*@Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image1Id, "NeighborhoodMessage", new { action = "MessageImage", NeighborhoodMessage.MessageTypes.Any, messageId = Model.MessageId, mediaId = Model.Image1Id }, "Afbeelding", "Image1"))*@
                @using (Html.BeginFormGroupFor(m => m.AllowSharing))
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.AllowSharing) @Label.ShareDescription
                        </label>
                    </div>
                }
                @Html.Partial("_FileUpload", new FileUploadModel(Model.File1Id, "NeighborhoodMessage", new { action = "MessageImage", NeighborhoodMessage.MessageTypes.Any, messageId = Model.MessageId, mediaId = Model.Image1Id }, "Bijlage", "File1"))
            </div>
        </div>

        <div class="panel-edit">
            <div class="panel-heading">
                <h2 class="panel-title">@Title.Images</h2>
            </div>
            <div class="panel-body">
                @Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image1Id, "DefaultDetail", new { controller = "NeighborhoodMessages", action = "ItemImage", id = Model.MessageId, mediaId = Model.Image1Id, index = 1 }, Label.Image + " 1", "Image1"))
                @Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image2Id, "DefaultDetail", new { controller = "NeighborhoodMessages", action = "ItemImage", id = Model.MessageId, mediaId = Model.Image2Id, index = 2 }, Label.Image + " 2", "Image2"))
                @Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image3Id, "DefaultDetail", new { controller = "NeighborhoodMessages", action = "ItemImage", id = Model.MessageId, mediaId = Model.Image3Id, index = 3 }, Label.Image + " 3", "Image3"))
                @Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image4Id, "DefaultDetail", new { controller = "NeighborhoodMessages", action = "ItemImage", id = Model.MessageId, mediaId = Model.Image4Id, index = 4 }, Label.Image + " 4", "Image4"))
                @Html.Partial("_ImageUploadRestyle", new FileUploadModel(Model.Image5Id, "DefaultDetail", new { controller = "NeighborhoodMessages", action = "ItemImage", id = Model.MessageId, mediaId = Model.Image5Id, index = 5 }, Label.Image + " 5", "Image5"))
            </div>
        </div>

        <div class="panel panel-default edit-buttons">
            <div class="panel-body">
                <button type="submit" class="btn btn-primary">@submitButton</button>
                <a class="btn btn-link" href="@cancelUrl">@Button.Cancel</a>
            </div>
        </div>
    }
</div>

<script>
    var expiresElement = document.getElementsByName('Expires')[0];

    function setExpirationDateTimeVisibility() {
        document.getElementById('expirationDate').style.display = expiresElement.checked ? 'block' : 'none';
    }

    expiresElement.onchange = function() {
        setExpirationDateTimeVisibility();
    }

    setExpirationDateTimeVisibility();
</script>
