@using LeeftSamen.Portal.Web.Helpers
@model LeeftSamen.Portal.Web.Models.Account.ChangeUsernamePostModel
@{
    ViewBag.Title = Title.ChangeUsername;
}

<h1>@Title.ManageAccount.</h1>

@using (Html.BeginForm("ChangeUsername", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
<div class="panel-edit">
    <div class="panel-heading">
        <h2 class="panel-title">@ViewBag.Title.</h2>
    </div>
    <div class="panel-body">
            @Html.AntiForgeryToken()
            @using (Html.BeginFormGroupFor(m => m.Username))
            {
                @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-block" })
            }
    </div>
</div>

<div class="panel panel-default edit-buttons">
    <div class="panel-body">
        <button type="submit" class="btn btn-primary">@Button.ChangeNeighborhood</button>
        <a class="btn btn-link" href="@Url.Action("Index", "Account")">@Button.Cancel</a>
    </div>
</div>
}

