@using LeeftSamen.Portal.Web.Models
@using LeeftSamen.Portal.Web.Models.Users
@model LeeftSamen.Portal.Web.Models.Account.ChangeProfileImageViewModel
@{
    ViewBag.Title = Title.ChangeProfileImage;
}

<h1>@ViewBag.Title.</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">@Text.ProfileImageDescription</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangeProfileImage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-md-3 control-label">@Label.CurrentProfileImage</label>
                <div class="col-md-9">
                    @Html.Partial("_UserProfileImage", new UserProfileImage(Model.ProfileImageId, Model.Id, "profile-image"))
                </div>
            </div>           

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <span class="privacy-info">@Html.Raw(String.Format(Label.RotatePhoto, Url.Action("RotateProfileImage", "Account")))</span>
                </div>
            </div>

            @Html.Partial("_ImageUpload", new FileUploadModel(null, null, null, Label.NewProfileImage, "ProfileImage"))

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">@Button.ChangeProfileImage</button>
                    <a href="@Url.Action("Index", "Account")" class="btn btn-link">@Button.Cancel</a>
                </div>
            </div>
        }
    </div>
</div>