@using LeeftSamen.Portal.Web.Helpers
@model LeeftSamen.Portal.Web.Models.Account.ChangeEmailSettingsViewModel

@{
    var action = "ChangeEmailSettings";
    var submitButton = Button.Save;
    ViewBag.Title = Title.EmailSettings;
}
<h1>@Title.ManageAccount.</h1>

@using (Html.BeginForm(action, "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel-edit">
        <div class="panel-heading">
            <h2 class="panel-title">@Title.EmailSettings</h2>
        </div>

        <div class="panel-body">
            <div class="">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesWeekMail) @Label.ReceivesWeekMail
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesNewMarketplaceItemMail) @Label.ReceivesNewMarketplaceItemMail
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesMarketplaceMail) @Label.ReceivesMarketplaceMail
                    </label>
                </div>
                @*<div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesCircleMessageMail) @Label.ReceivesCircleMessageMail
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesCircleJobMail) @Label.ReceivesCircleJobMail
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.ReceivesCircleJobAssigned) @Label.ReceivesCircleJobAssigned
                    </label>
                </div>*@
            </div>

        </div>
    </div>

    <div class="panel panel-default edit-buttons">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">@submitButton</button>
            <a class="btn btn-link" href="@Url.Action("Index")">@Button.Cancel</a>
        </div>
    </div>
}