@model LeeftSamen.Portal.Web.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = Title.ForgotPassword;
}

<h2>@ViewBag.Title</h2> 
<p>@Text.ForgotPasswordInstruction</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    @Html.Partial("_ValidationSummary")

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @tabindex = "1" })  
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" tabindex="2">@Button.SendInstructions</button>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}