@model LeeftSamen.Portal.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = Title.ResetPassword;
}

<h2>@ViewBag.Title.</h2>
<p>@Text.PasswordDescription</p>

@using (Html.BeginForm("ResetPassword", "Account", new { userId = Model.UserId, code = Model.Code }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("_ValidationSummary")

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">@Button.ChangePassword</button>
            <a href="@Url.RouteUrl("Default", new { controller = "Account", action = "Login" })" class="btn btn-link">@Button.Cancel</a>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}