@using System
@using System.Linq
@using LeeftSamen.Portal.Web.Models
@using LeeftSamen.Portal.Web.Helpers
@using LeeftSamen.Portal.Web.Models.Users
@model LeeftSamen.Portal.Web.Models.Squares.CreateReactionViewModel
@{
    var action = "CreateReaction";
    var title = Title.CreateReaction;
    var submitButton = Button.Save;
    var routeValues = new RouteValueDictionary();
    routeValues.Add("id", Model.SquareId);
    routeValues.Add("subjectId", Model.SubjectId);
    var cancelUrl = Url.RouteUrl("Default", new { controller = "Squares", action = "ForumSubject", id = Model.SquareId, subjectId = Model.SubjectId });
    ViewBag.Title = title;
}
<div class="row">
    <div class="col-md-12">
        @Html.Action("DetailHeader", "Squares", new { id = Model.SquareId, subjectId = Model.SubjectId })
    </div>
</div>
<h1>@title</h1>

@using (Html.BeginForm(action, "Squares", routeValues, FormMethod.Post, new Dictionary<string, object> { { "enctype", "multipart/form-data" } }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginFormGroupFor(m => m.Text))
            {
                @Html.RequiredLabelFor(m => m.Text, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Text, 8, 0, new { @class = "form-control text-editor" })
                @Html.ValidationMessageFor(m => m.Text, null, new { @class = "help-block" })
            }


            <div id="FactFiles" class="edit-section">
                <h4>@Title.Images</h4>
                <div class="row">
                    @Html.Partial("_MultiImageUpload", new MultiFileUploadModel(null, null, null, Label.Images, "Image1"))
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">@submitButton</button>
            <a class="btn btn-link" href="@cancelUrl">@Button.Cancel</a>
        </div>
    </div>
}

