@using System
@using System.Linq
@using LeeftSamen.Portal.Web.Models
@using LeeftSamen.Portal.Web.Models.Users
@using LeeftSamen.Portal.Web.Helpers
@model LeeftSamen.Portal.Web.Models.Squares.ForumSubjectViewModel
@{
    ViewBag.Title = Model.SubjectName;
}

<div class="row">
    <div class="col-md-12">
        @Html.Action("DetailHeader", "Squares", new { id = Model.SquareId })
    </div>
</div>
<div class="col-md-12">
    <a class="btn btn-default" href="@Url.Action("Forum", new {id = Model.SquareId})">@Button.BackToOverview</a>
    <div class="md-pull-right margin-top-10-px-xs">
        @{
            var url = Url.RouteUrl("SquareForumSubject", new
            { controller = "Squares", action = "ForumSubject", id = Model.SquareId, subjectId = Model.SubjectId });
        }
        <a href="@url" class="page @(Model.Page == 1 ? "active" : string.Empty)">1</a>
        @if (Model.PageCount > 9 && Model.Page >= 6)
        {
            <span class="page inactive">...</span>
        }

        @{ 
            var from = 2;
            if (Model.Page >= 6 && Model.PageCount > 9)
            {
                from = Model.Page - 2;
            }
            var to = Model.PageCount - 1;
            if (Model.Page <= Model.PageCount - 5 && Model.PageCount > 9)
            {
                to = Model.Page + 2;
            }
            if (to < 7)
            {
                to = Math.Min(7, Model.PageCount - 1);
            }
            if (from > Model.PageCount - 6)
            {
                from = Math.Max(Model.PageCount - 6, 2);
            }

        }
        @for (int i = from; i <= to; i++)
        {
            url = Url.RouteUrl("SquareForumSubject", new
            { controller = "Squares", action = "ForumSubject", id = Model.SquareId, subjectId = Model.SubjectId, page = i });
            <a href="@url" class="page @(Model.Page == i ? "active" : string.Empty)">@i</a>
        }
        @if (Model.PageCount > 9 && Model.Page < Model.PageCount - 4)
        {
            <span class="page inactive">...</span>
        }
        @if (Model.PageCount > 1)
        {
            url = Url.RouteUrl("SquareForumSubject", new
            { controller = "Squares", action = "ForumSubject", id = Model.SquareId, subjectId = Model.SubjectId, page = Model.PageCount });
            <a href="@url" class="page @(Model.Page == Model.PageCount ? "active" : string.Empty)">@Model.PageCount</a>
        }
    </div>
    <br/>
    <br/>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h2>@Model.SubjectName</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body forum">
                @if (Model.Reactions.Count > 0)
                {
                    foreach (var reaction in Model.Reactions)
                    {
                    <div class="row forum-message">
                        <div class="col-md-4">
                            <span class="forum-small">@reaction.CreationDate.ToString("d MMM yyyy, HH:mm uur")</span><br/>
                            <h4>
                                @Html.Partial("_UserProfileImage", new UserProfileImage(reaction.ProfileImageId, reaction.CreatorId, "profile-image-sm"))
                                @reaction.CreatorName<br />
                            </h4>
                            <span class="forum-small">
                                Berichten: @reaction.CreatorReactionCount<br />
                                @reaction.Distance @Label.MeterAway
                            </span>
                        </div>
                        <div class="col-md-8">
                            @if (!reaction.Deleted)
                            {
                                if (Model.CurrentUserId == reaction.CreatorId || Model.IsCurrentUserAdmin)
                                {
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="@Url.RouteUrl("DefaultDetail", new { controller = "Squares", action = "EditReaction", id = Model.SquareId, reactionId = reaction.ReactionId })">@Button.EditReaction</a>
                                            </li>
                                            @if (Model.IsCurrentUserAdmin)
                                            {
                                                <li role="presentation">
                                                    <a role="menuitem" href="#"
                                                       data-toggle="modal" data-target="#modal"
                                                       data-title="@Title.ConfirmRemoveReaction"
                                                       data-body="@Text.ConfirmRemoveReaction"
                                                       data-button="@Button.Remove"
                                                       data-hidden='{"id": "@Model.SquareId","reactionId": "@reaction.ReactionId"}'
                                                       data-action="@Url.Action("RemoveReaction")">
                                                        @Button.DeleteReaction
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    if (!reaction.Reported)
                                    {
                                    <div class="dropdown pull-right">
                                        <a role="menuitem" href="#" class="btn-default btn-sm"
                                           data-toggle="modal" data-target="#modal"
                                           data-title="@Title.ConfirmReportReaction"
                                           data-body="@Text.ConfirmReportReaction"
                                           data-button="@Button.ReportAbuse"
                                           data-hidden='{"id": "@Model.SquareId","reactionId": "@reaction.ReactionId"}'
                                           data-action="@Url.Action("ReportReaction")">
                                            <i class="fa fa-exclamation"></i>
                                        </a>
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown md-pull-right forum-small">
                                            @Label.Reported
                                        </div>
                                    }
                                }
                                if (reaction.LastEditDate.HasValue)
                                {
                                    <span class="forum-small">@Label.LastEdited: @reaction.LastEditDate.Value.ToTimeAgoString()</span><br />
                                }
                                @Html.Raw(reaction.Text)
                                <div>
                                    @foreach (var media in reaction.MediaList)
                                    {
                                        <div class="col-md-4 col-xs-6 margin-bottom-10-px">
                                            <a data-lightbox="reaction-@reaction.ReactionId" href="@Url.RouteUrl("ForumReactionImageLarge", new { action = "ReactionImageLarge", mediaId = media.MediaId, reactionId = reaction.ReactionId })">
                                                <img src="@Url.RouteUrl("ForumReactionImage", new { action = "ReactionImage", mediaId = media.MediaId, reactionId = reaction.ReactionId })" alt="" style="max-width:100%;">
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <span class="forum-small">@Text.ReactionDeleted</span>
                            }
                        </div>
                    </div>
                    }
                }
                else
                {
                    <div class="row forum-message">
                        <div class="col-md-12">
                            @Text.NoReactions
                        </div>
                    </div>
                }
                <div class="panel-footer">
                    <a class="btn btn-primary" href="@Url.Action("CreateReaction", new {id = Model.SquareId, subjectId = Model.SubjectId})">@Button.Reply</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Styles.Render("~/Content/lightbox")
    @Scripts.Render("~/bundles/lightbox")
}

