@using System
@using System.Linq
@using LeeftSamen.Common.Extensions
@using LeeftSamen.Portal.Web.Models.Users
@using System.Configuration
@model LeeftSamen.Portal.Web.Models.Home.IndexAuthenticatedViewModel
@{
    ViewBag.Title = Title.StartPage;
}

@Html.Partial(string.Format("_Header{0}", ConfigurationManager.AppSettings["ShowRestyle"] == "true" ? "Restyle" : string.Empty), Model)

@if (Model.Actions.Count > 0)
{
    foreach (var item in Model.Actions)
    {
        <br/>
        <span class="label label-block label-danger action">@item.Name</span>
        <div class="panel startpage-item" data-link="@Url.RouteUrl("Default", new { controller = "Action", action = "Index", id = item.ActionId })">
            <div class="panel-heading">
                <a href="@Url.RouteUrl("Default", new { controller = "Action", action = "Index", id = item.ActionId })" class="btn btn-danger pull-right">@Button.VoteAction</a>
                <h4>
                    @item.Title
                </h4>
                @Html.Raw(item.Text)
            </div>
        </div>
    }
}

@if (Model.Timeline.Count > 0)
{
    var lastDate = DateTime.MinValue.Date;

    foreach (var item in Model.Timeline.OrderByDescending(i => i.Date).Take(100))
    {
        if (item.Date.Date != lastDate)
        {
            lastDate = item.Date.Date;
            var dateLabel = lastDate.ToShortDateString();
            if (lastDate.IsToday())
            {
                dateLabel = Label.Today;
            }
            else if (lastDate.IsYesterday())
            {
                dateLabel = Label.Yesterday;
            }
            else
            {
                dateLabel = @lastDate.ToString("dddd d MMMM yyyy");
            }
            <br/>
            <time class="label label-block label-default" datetime="@lastDate.ToString("s")"
                  title="@lastDate.ToString("f")">@dateLabel</time>
        }

         <div class="panel startpage-item" data-link="@item.Url">
             <div class="panel-heading">
                 <div class="img-circle-wrapper">
                    <span></span>
                    @Html.Partial("_UserProfileImage", new UserProfileImage(item.UserProfileImageId, item.UserId, "profile-image-sm"))
                 </div>

                 <label class="label label-info"><span class="@item.CategoryClass"></span> @Label.In @item.Category</label>
                 <h4>
                     <a href="@item.Url">@Html.Raw(item.Action)</a>
                 </h4>
             </div>
         </div>
     }
}
else
{
    <h2>@Title.NoTimelineFound</h2>
    <p class="visible-xs">@Text.NoTimelineNavigationTip</p>
}
<br/>


@section modals {
    <div class="modal fade" id="modal-welcome" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Button.Cancel"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@string.Format(Text.WelcomeUser, Model.CurrentUserName)</h4>
                </div>
                <div class="modal-body">
                    @Html.Raw(Text.LoginIntro)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" autofocus="autofocus">@Button.NextStep</button>
                </div>
            </div>
        </div>
    </div>
}