@using LeeftSamen.Portal.Web.Models;
@model IEnumerable<LeeftSamen.Portal.Data.Models.HelpIcon>

@{ 
    var cssclass = ViewData.ContainsKey("CssClass") ? ViewData["CssClass"].ToString() : null;
    string additionalStyle = cssclass == "visible-xs" ? "margin: 15px;" : null;
    if (cssclass != "visible-xs") { cssclass += " pull-right"; }
}
<div class="relative-inline-block @cssclass" style="@additionalStyle">
    @if (Model.Any(h => h.Type == "marketplace-create"))
    {
        var helpIcon = Model.First(h => h.Type == "marketplace-create");
        Html.RenderPartial("~/Views/Shared/_HelpIcon.cshtml", new HelpIconViewModel { Id = helpIcon.HelpIconId, Placement = helpIcon.TextPlacement, CssClass = "marketplace-create", HelpText = helpIcon.Text });
    }
    <a class="btn btn-primary btn-small" href="@Url.Action("CreateItem")">
        <span class="glyphicon glyphicon-plus-sign"></span>
        @Button.CreateMarketplaceItem
    </a>
    <a class="btn btn-default btn-small" href="@Url.Action("MyMarketplace")">@Button.MyMarketplace</a>
    @if (Model.Any(h => h.Type == "marketplace-ads"))
    {
        var helpIcon = Model.First(h => h.Type == "marketplace-ads");
        Html.RenderPartial("~/Views/Shared/_HelpIcon.cshtml", new HelpIconViewModel { Id = helpIcon.HelpIconId, Placement = helpIcon.TextPlacement, CssClass = "marketplace-ads", HelpText = helpIcon.Text });
    }
</div>