@using LeeftSamen.Portal.Data.Models
@using LeeftSamen.Portal.Web.Models
@using LeeftSamen.Portal.Web.Models.Users
@using System.Configuration
@model LeeftSamen.Portal.Web.Models.Marketplace.OverviewViewModel
@{
    var titleTekst = string.Empty;
    string searchPlaceholder = string.Empty, searchLabel = string.Empty;
    var description = "Waarvoor heb je het nodig?";
    var descriptionPlaceholder = "Waar ga je het voor gebruiken...";
    switch (Model.Category)
    {
        case 2:
            ViewBag.Title = Title.StuffForSale;
            titleTekst = Title.WelcomeMarketplaceStuffForSale;
            searchPlaceholder = PlaceHolder.BuyStuff;
            searchLabel = Label.IAmSearchingfor;
            break;
        case 3:
            ViewBag.Title = Title.StuffToBorrow;
            titleTekst = Title.WelcomeMarketplaceStuffToBorrow;
            searchPlaceholder = PlaceHolder.LendStuff;
            searchLabel = Label.IAmSearchingfor;
            description = "Waarvoor heb je het nodig?";
            descriptionPlaceholder = "Vertel je buren waarom je het nodig hebt, dan kunnen ze je beter helpen...";
            break;
        case 1:
            ViewBag.Title = Title.Meals;
            titleTekst = Title.WelcomeMarketplaceMeals;
            searchPlaceholder = PlaceHolder.MealStuff;
            searchLabel = Label.IAmSearchingfor;
            break;
        case 0:
            ViewBag.Title = Title.NeighbourHelp;
            titleTekst = Title.WelcomeMarketplaceNeighbourHelp;
            searchPlaceholder = PlaceHolder.NeighbourHelpStuff;
            searchLabel = Label.IRequireHelpWith;
            description = "Waar heb je je buren voor nodig?";
            descriptionPlaceholder = "Vertel je buren wat meer over je vraag zodat ze je beter kunnen helpen...";
            break;
        default:
            ViewBag.Title = Title.Marketplace;
            titleTekst = Title.WelcomeMarketplaceOverview;
            break;
    }
    if (Model.CircleId.HasValue)
    {
        titleTekst = Title.WelcomeMarketplaceOverview;
        if (!string.IsNullOrEmpty(Model.OverviewText))
        {
            titleTekst = Model.OverviewText;
        }
    }
    var searchDescription = !String.IsNullOrWhiteSpace(Model.SearchQuery) ? Model.SearchQuery : Text.All;
    searchDescription += !String.IsNullOrWhiteSpace(Model.CurrentCategory) ? String.Concat(" ", Text.Within, " ", Model.CurrentCategory.ToLower()) : String.Empty;
    searchDescription += Model.Type.HasValue ? Model.Type == MarketplaceItem.MarketplaceItemType.Offered ? String.Concat(" ", @Button.MarketplaceOffered.ToLower()) : String.Concat(" ", @Button.MarketplaceAsked.ToLower()) : String.Empty;
    var formAction = Url.RouteUrl("Default", new { controller = "Marketplace" });
}

<div class="content-wide">

    @if (Model.CircleId.HasValue)
    {
        formAction = Url.RouteUrl("CircleMarketplace", new { circleId = Model.CircleId, controller = "Marketplace", action = "Overview" });
        @Html.Action("DetailHeader", "Circles", new { id = Model.CircleId })

        <div class="page-buttons margin-bottom-10-px">
            <div class="menu-background"></div>
            <div class="bottom-display">
                <div class="open-menu">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="buttons">
                <a class="btn btn-primary" href="@Url.Action("CreateCircleItem", "Marketplace", new { circleId = Model.CircleId })">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    @Button.CreateMarketplaceItem
                </a>
            </div>
        </div>
    }
    else
    {
        <h1 class="page-title">@ViewBag.Title</h1>
        //@Html.Partial("_HelpIconsRestyle", Model.HelpIcons, new ViewDataDictionary() { { "CssClass", "hidden-xs" } })
        @*<div class="clear" style="margin-bottom:10px;"></div>
        @Html.Partial("_HelpIcons", Model.HelpIcons, new ViewDataDictionary() { { "CssClass", "visible-xs" } })*@

        if (Model.Category == 0)
        {
        <div class="page-buttons">
            <div class="menu-background"></div>
            <div class="bottom-display">
                <div class="open-menu">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="buttons">
                @if (Model.HelpIcons.Any(h => h.Type == "marketplace-create"))
                {
                    var helpIcon = Model.HelpIcons.First(h => h.Type == "marketplace-create");
                    Html.RenderPartial("~/Views/Shared/_HelpIcon.cshtml", new HelpIconViewModel { Id = helpIcon.HelpIconId, Placement = helpIcon.TextPlacement, CssClass = "marketplace-create", HelpText = helpIcon.Text });
                }
                <a class="btn btn-primary btn-small" href="@Url.Action("CreateItem", new { CategoryId = Model.Category })">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    @Button.CreateMarketplaceItemHelp
                </a>
            </div>
        </div>
        <div class="clear margin-bottom-10-px"></div>
        }
    }

    @if (Model.HelpIcons.Any(h => h.Type == "marketplace-all"))
    {
        var helpIcon = Model.HelpIcons.First(h => h.Type == "marketplace-all");
        Html.RenderPartial("~/Views/Shared/_HelpIcon.cshtml", new HelpIconViewModel { Id = helpIcon.HelpIconId, Placement = helpIcon.TextPlacement, CssClass = "marketplace-all", HelpText = helpIcon.Text });
    }

    @*<div class="make-block hidden-xs shift-left clear">
        <div class="row panel-body">
            <div class="col-md-9 col-xs-12">
                <h4>@titleTekst</h4>
            </div>
        </div>
    </div>*@

    <form method="post" action="QuickCreate">
        @if (Model.CircleId.HasValue)
        {
            @Html.HiddenFor(m => m.CircleId)
        }
        @Html.HiddenFor(m => m.Category)
        <div class="panel-blue shift-left search-box">
            <label class="search-label">@searchLabel</label>
            <div class="search-bar full">
                @*@Html.TextBox("ItemTitle", null, new { placeholder = searchPlaceholder, @class = "form-control", onkeydown = "OpenBlock(this);" })*@
                @Html.TextBoxFor(m => m.ItemTitle, new { placeholder = searchPlaceholder, @class = "form-control", onfocus = "OpenBlock(this);" })
            </div>
            @Html.ValidationMessageFor(m => m.ItemTitle, null, new { @class = "help-block" })
            <div class="area-block trigger-hide">
                <label class="search-label">@description</label>
                <div class="area-bar">
                    @*@Html.TextArea("Description", null, new { @class = "form-control", placeholder = "Waar ga je het voor gebruiken..." })*@
                    @Html.TextAreaFor(m => m.ItemDescription, new { @class = "form-control", placeholder = descriptionPlaceholder })
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.ItemDescription, null, new { @class = "help-block" })

            <div class="trigger-hide">
                <label class="search-label">Wanneer heb je het nodig?</label>
                <div class="search-bar full">
                    <div class="datepicker-control futuredate" style="width:100%;">
                        @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control", style = "width:100%;", @Value = Model.ExpirationDate.HasValue ? Model.ExpirationDate.Value.ToString("dd-MM-yyyy") : string.Empty })
                        @*<button type="button">
                            Kies datum
                        </button>*@
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m.ExpirationDate, null, new { @class = "help-block" })

            <button type="submit" class="btn btn-search"><i class="fa fa-plus"></i> @Button.Add</button>
        </div>
    </form>
    <h3 class="marketplace-title">Wat anderen zoeken</h3>

    @{ var formId = "filterform"; }
    <form method="get" action="@formAction#start" id="@formId">
        @if (Model.CircleId.HasValue)
        {
            @Html.HiddenFor(m => m.CircleId)
        }
        @Html.HiddenFor(m => m.Category)
        @Html.Hidden("ListView", Model.ListView)
        <div class="nav-with-icon">
            <div class="icon-nav">
                <a class="@(Model.ListView ? null : "active")" data-val-target="@Html.IdFor(m => Model.ListView)" data-val="@(false)" data-form-trigger="@formId">
                    <i class="fa fa-th"></i>
                </a>
                <a class="@(Model.ListView ? "active" : null)" data-val-target="@Html.IdFor(m => Model.ListView)" data-val="@(true)" data-form-trigger="@formId">
                    <i class="fa fa-th-list"></i>
                </a>
            </div>
        </div>
    </form>
    <div id="start"></div>

    @if (Model.MarketplaceItems.Count > 0)
    {
        <div id="marketplace-items" class="shift-left" pagesize="@Model.Take">
            @if (Model.ListView)
            {
                <div class="col-md-12 marketplace-item-placeholder">
                    @foreach (var item in Model.MarketplaceItems)
                {
                        @Html.Partial(string.Format("_DisplayItem{0}", ConfigurationManager.AppSettings["ShowRestyle"] == "true" ? "Restyle" : string.Empty), item, new ViewDataDictionary() { { "ListView", Model.ListView }, { "CircleId", Model.CircleId } });
                }
                </div>
            }
            else
            {
                <div class="tileable-items marketplace-item-placeholder">
                    @foreach (var item in Model.MarketplaceItems)
                {
                        @Html.Partial(string.Format("_DisplayItem{0}", ConfigurationManager.AppSettings["ShowRestyle"] == "true" ? "Restyle" : string.Empty), item, new ViewDataDictionary() { { "ListView", Model.ListView }, { "CircleId", Model.CircleId } })
                    }
                </div>
            }
        </div>
        if (Model.MarketplaceItems.Count == 10)
        {
            <div class="row">
                <button class="btn btn-default col-md-4 col-md-offset-4" onclick="marketPlaceLoadMore(this, '#@formId')">@Button.MarketplaceShowMore</button>
            </div>
        }
    }
    else
    {
        <h3>@Title.NoMarketplaceItemsFound</h3>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/item-tiler")

    <script>
        var elements = document.getElementsByClassName('trigger-submit');
        for (var i = 0; i < elements.length; i++) {
            elements[i].onchange = function() {
                document.forms.filterform.submit();
            }
        }

        var elements = document.getElementsByClassName('mirror-submit');
        for (var i = 0; i < elements.length; i++) {
            elements[i].onchange = function () {
                var elements = document.getElementsByClassName('mirror-submit');
                for (var i = 0; i < elements.length; i++) {
                    elements[i].setAttribute("disabled", "");
                }
                document.getElementById(this.getAttribute("data-mirror-id")).value = this.value;
                document.forms.filterform.submit();
            }
        }

        function OpenBlock(input) {
            var block = input.parentElement.parentElement;
            if (!block.className.endsWith(" expand")) {
                block.className += " expand";
            }
        }
    </script>

}
