@model LeeftSamen.Portal.Web.Models.MultiFileUploadModel
<div class="form-group profile-multi-upload">
    <label>@Model.InputLabel</label>
    <div class="input-group image-picker">
        <div class="uploaded-files">
            @{ var i = 0; }
            @foreach (var media in Model.Files)
            {
                i++;
                if (Model.RouteValues.ContainsKey("id"))
                {
                    Model.RouteValues["id"] = media.MediaId;
                }
                else
                {
                    Model.RouteValues.Add("id", media.MediaId);
                }
                <div class="uploaded-file">
                    <div class="image">
                        <img src="@Url.RouteUrl(Model.RouteName, Model.RouteValues)" alt="" class="maxWidthFull">
                    </div>
                    <div class="name">
                        <span class="close" onclick="multiUploader.RemoveFile(this);"><i class="fa fa-times"></i></span>
                        @media.Name
                    </div>
                    @Html.Hidden("file" + i, media.MediaId)
                </div>
            }
        </div>

        <span class="btn btn-default btn-small btn-file pull-right margin-top-10-px">
            @Button.ChooseImageFromPC <input type="file" name="" class="file-input" onchange="multiUploader.OnUpload(this);"
                                             accept="image/gif, image/jpeg, image/png">
        </span>
        @Html.ValidationMessage(Model.InputName, null, new { @class = "help-block" })
    </div>
    <div class="clear"></div>
</div>