@using System
@using System.Linq
@using LeeftSamen.Portal.Web.Models
@using LeeftSamen.Portal.Web.Helpers
@using LeeftSamen.Portal.Web.Models.Users
@model LeeftSamen.Portal.Web.Models.Forums.CreateSubjectViewModel
@{
    var action = "CreateSubject";
    var title = Title.CreateSubject;
    var submitButton = Button.Save;
    var routeValues = new RouteValueDictionary();
    var cancelUrl = Url.RouteUrl("ForumNoId", new { controller = "Forums", action = "Index", type = Model.Type, typeId = Model.TypeId });
    ViewBag.Title = title;
}
@if (Model.Type.Equals(LeeftSamen.Portal.Data.Enums.ModelType.Squares.ToString(), StringComparison.CurrentCultureIgnoreCase))
{
    <div class="row">
        <div class="col-md-12">
            @Html.Action("DetailHeader", "Squares", new { id = Model.TypeId })
        </div>
    </div>
}
else if (Model.Type.Equals(LeeftSamen.Portal.Data.Enums.ModelType.Circles.ToString(), StringComparison.CurrentCultureIgnoreCase))
{
    <div class="row">
        <div class="col-md-12">
            @Html.Action("DetailHeader", "Circles", new { id = Model.TypeId })
        </div>
    </div>
}
@using (Html.BeginForm(action, "Forums", routeValues, FormMethod.Post, new Dictionary<string, object> {{"enctype", "multipart/form-data"}}))
{
    @Html.AntiForgeryToken()
    <div class="panel-edit">
        <div class="panel-heading">
            <h1 class="panel-title">@title</h1>
        </div>
        <div class="panel-body">
            @using (Html.BeginFormGroupFor(m => m.Title))
            {
                @Html.RequiredLabelFor(m => m.Title, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "help-block" })
            }

            @using (Html.BeginFormGroupFor(m => m.Description))
            {
                @Html.RequiredLabelFor(m => m.Description, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "help-block" })
            }

            @using (Html.BeginFormGroupFor(m => m.Text, new { @class = "no-border" }))
            {
                @Html.RequiredLabelFor(m => m.Text, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.Text, 8, 0, new { @class = "form-control text-editor" })
                @Html.ValidationMessageFor(m => m.Text, null, new { @class = "help-block" })
            }

            <div id="FactFiles" class="edit-section">
                @Html.Partial("_MultiImageUploadRestyle", new MultiFileUploadModel(null, null, null, Label.Images, "Image1"))
            </div>
        </div>
    </div>

    <div class="panel panel-default edit-buttons">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">@submitButton</button>
            <a class="btn btn-link" href="@cancelUrl">@Button.Cancel</a>
        </div>
    </div>
}

