@using LeeftSamen.Common.InterfaceText
@inherits RazorEngine.Templating.TemplateBase<LeeftSamen.Portal.EmailTemplates.Models.CircleJoinRequestModel>
@{
    Layout = "_Layout";
}

<p style="margin-top:0;margin-bottom:16px">@Email.CircleJoinRequestSaluation</p>
<p style="margin-top:0;margin-bottom:16px">@string.Format(Email.CircleJoinRequestInstruction, Model.UserName, Model.CircleName)</p>
<p style="margin-top:0;margin-bottom:48px;text-align:center">
    <a href="@Model.AcceptJoinRequestUrl" style="font-size:24px">@Email.CircleJoinRequestAcceptLinkText</a>
</p>
<p style="margin-top:0;margin-bottom:16px">@Raw(Email.DefaultCloseHtml)</p>

@section reason {
    @Email.CircleJoinRequestReason
}