@using LeeftSamen.Common.InterfaceText
@inherits RazorEngine.Templating.TemplateBase<LeeftSamen.Portal.EmailTemplates.Models.MarketplaceTransactionModel>
@{
    Layout = "_Layout";
}

<p style="margin-top:0;margin-bottom:16px">@string.Format(Email.DefaultSaluation, Model.ReceiverName)</p>
<p style="margin-top:0;margin-bottom:16px">@string.Format(Email.MarketplaceTransaction, Model.SenderName, Model.MarketplaceItemTitle)
</p>
<p style="margin-top:0;margin-bottom:48px;text-align:center">
    <a href="@Model.MarketplaceItemUrl" style="font-size:24px">@Email.MarketplaceTransactionLinkText</a>
</p>
<p style="margin-top:0;margin-bottom:16px">@Raw(Email.DefaultCloseHtml)</p>

@section reason {
    @Email.MarketplaceTransactionReason
}