@using LeeftSamen.Common.InterfaceText
@inherits RazorEngine.Templating.TemplateBase<LeeftSamen.Portal.EmailTemplates.Models.WelcomeModel>
@{
    Layout = "_Layout";
}

<p style="margin-top:0;margin-bottom:16px">@string.Format(Email.DefaultSaluation, Model.Name)</p>
<p style="margin-top:0;margin-bottom:16px">@Email.WelcomeInstruction</p>
<p style="margin-top:0;margin-bottom:48px;text-align:center">
    <a href="@Model.ConfirmEmailUrl" style="font-size:24px">@Email.WelcomeVerifyEmailLinkText</a>
</p>
<p style="margin-top:0;margin-bottom:16px">@Raw(Email.DefaultCloseHtml)</p>

@section reason {
    @Email.WelcomeReason
}